.pageSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerError {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  height: 70vh;
  color: #cbd5f5;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.loader {
    color: #fff !important;
}

.description {
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
  color: #cbd5f5;
}

.line {
  height: 3px;
  width: 84px;
  background: linear-gradient(90deg, rgba(246, 143, 59, 0.2), #ff6347, rgba(246, 143, 59, 0.2));
  border-radius: 999px;
  margin-bottom: 20px;
}

.imageList {
  display: grid;
  grid-template-columns: repeat(1fr);
  width: 100%;
  height: auto;
  max-width: 1200px;
  padding: 20px!important;
  margin-bottom: 60px;
}

.image {
  border-radius: 8px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  height: auto;
  object-fit: cover !important;
}

.image:hover {
  transform: scale(1.015);
  
}

.image:active {
  transform: scale(0.95);
}

.image::after {
  transform: scale(0.9);
}

.modalImage {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: end;
}

.closeButton {
  margin-left: auto;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.25s ease;
}

.closeButton:hover {
  color: #ff6347;
}

.arrowButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.25s ease;
}

.arrowButton:hover {
  color: #ff6347;
}

.modalImage {
  position: relative;
  z-index: 1001;
}

@media (max-width: 900px) {
  .arrowButton {
    display: none;
  }

  .closeButton {
    font-size: 1.5rem;
  }
}