.footer {
  margin-top: auto;
  background: #1f2937;
  color: #e5e7eb;
  padding: 35px 20px 20px;
  width: 100%;
}

.footerContainer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footerBrand h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footerBrand p {
  opacity: 0.7;
  line-height: 1.6;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.socials a {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  background: #374151;
  transition: 0.3s;
}

.socials a:hover {
  background: #3b82f6;
  transform: translateY(-3px);
}

.footerLinks h4,
.footerNewsletter h4 {
  color: #ff6347;
  margin-bottom: 15px;
}

.footerLinks button,.footerLinks a {
  display: block;
  margin-bottom: 8px;
  color: #cbd5f5;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
}

.footerLinks a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerLinks button:hover,a:hover {
  color: white;
}

.contactIcon {
  color: #ff6347;
}

.footerNewsletter p {
  opacity: 0.7;
  margin-bottom: 10px;
}

.newsletterBox {
  display: flex;
  gap: 10px;
}

.newsletterBox input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.newsletterBox button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.newsletterBox button:hover {
  background: #2563eb;
}

.footerBottom {
  text-align: center;
  margin-top: 20px;
  opacity: 0.6;
  font-size: 0.9rem;
}

.footerLogo {
  max-width: 156px;
  font-weight: bold;
  color: #3b82f6;
  cursor: pointer;
  transition: all 0.25s ease;
}

.footerLogo:hover {
  transform: scale(1.05);
}

.footerLogo:active {
  transform: scale(0.95);
}

.footerLogo::after {
  transform: scale(0.9);
}

@media (max-width: 1050px) {
  .footerContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .footerContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footerBrand {
    margin-left: auto;
    margin-right: auto;
  }

  .socials {
    justify-content: center;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}