.transparentNav {
  display: flex;
  justify-content: center;
  padding: 14px 120px;
  position: sticky !important;
  
  top: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.5s ease, padding 0.3s ease;
}

.solidNav {
  display: flex;
  justify-content: center;
  padding: 14px 120px;
  position: sticky !important;
  
  top: 0;
  z-index: 100;
  background-color: #020817;
  transition: background-color 0.5s ease, padding 0.3s ease;
}

.scrolledNav {
  background: rgba(2, 8, 23, 0.98);
    backdrop-filter: blur(18px);
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
}

.navbarLogo {
  max-width: 140px;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.navbarLogo:hover {
  transform: scale(1.05);
}

.navbarLinks {
  display: flex;
  align-items: center;
  gap: 36px;
  font-size: 0.95rem;
}

.navbarLinks a {
  position: relative;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: color 0.25s ease;
}

.navbarLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0%;
  background: #ff6347;
  transition: width 0.25s ease;
}

.navbarLinks a:hover::after {
  width: 100%;
}

.dropdownWrapper {
  position: relative;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: color 0.25s ease;
}

.dropdownWrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0%;
  background: #ff6347;
  transition: width 0.25s ease;
}

.dropdownWrapper:hover::after {
  width: 100%;
}

.dropdownWrapper {
  position: relative;
}

.dropdownContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #e5e7eb;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 14px;

  position: absolute;
  top: 130%;
  left: -10px;

  background: rgba(15, 23, 42, 0.95);
  backdrop-filter: blur(16px);

  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 10px;

  padding: 20px 24px;
  min-width: 220px;

  box-shadow: 0 15px 40px rgba(0,0,0,0.35);
}

.dropdown li {
  list-style: none;
}

.dropdown li a {
  color: #e5e7eb;
  font-size: 0.9rem;
}

.dropdown li a:hover {
  color: #ff6347;
}

.hamburger {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar {
    padding: 14px 24px;
  }

  .transparentNav, .solidNav {
    padding: 14px 24px;
  }
  

  .navbarLinks a::after {   
     display: none;
  }
  


  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbarLinks {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background: rgba(2, 8, 23, 0.98);
    backdrop-filter: blur(18px);

    flex-direction: column;
    align-items: flex-start;

    padding: 24px;

    gap: 24px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);

    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;
  }

  .mobileActive {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown {
    position: static;
    margin-top: 16px;
    width: 100%;
  }

  .dropdownWrapper {
    width: 100%;
  }

  .dropdownWrapper::after {
    display: none;
  }
}
